nav {
  background: rgb(184, 9, 9);
  padding: 12px 20px;
  display: flex;
  gap: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

nav a:hover {
  background: #444;
}
